/* Your CSS code goes in this file. */
body {
  font-family: "arial";
  width: 960px;
  margin: 20px auto

}

h1 { color:red }

h1{
  border: solid 10px black; */
  margin: 100px;
  padding: 50px;
 }

h2{ border-bottom: solid 2px grey;  }
div {border: solid 5px gray;}
span {background-color:yellow}
.important{background-color: yellow}
